{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
    <style>
        .user-card {
            display: flex;
            box-shadow: 1px 1px 1px 1px black;
            align-items: center;
        }

        .user-card > * {
            margin: 10px;
        }

        .user-card > .info {
            width: 30%;
            display: flex;
            flex-direction: column;
        }

        .user-card > .info > .profile-pic {
            height: 150px;
            width: auto;
        }

        .user-card > .info > .profile-pic > img {
            height: 100%;
            width: auto;
        }
    </style>

    {% for user in users %}
        <div class="user-card">
            <div class="info">
                <div class="profile-pic">
                    <img src="{{ asset('image_upload/') }}{{ user.profilePic }}">
                </div>
                <h3 class="username">{{ user.username }}</h3>
                <span class="user-gender">{{ user.gender }}</span>
                <span class="age">{{ user.getAge }}</span>
                <div class="user-location">
                    <span class="country">{{ user.country }}</span>
                    <span class="city">{{ user.city }}</span>
                </div>
            </div>
            <div class="description">
                {{user.description}}
            </div>
        </div>
    {% endfor %}
{% endblock %}

